<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title><%= pageTitle %>></title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/images/favicon.png">

    <!-- Font awesome -->
    <link href="default/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="default/css/bootstrap.css" rel="stylesheet">   
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="default/css/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="default/css/nouislider.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="default/css/jquery.fancybox.css" type="text/css" media="screen" /> 
    <!-- Theme color -->
    <link id="switcher" href="default/css/theme-color/default-theme.css" rel="stylesheet">     

    <!-- Main style sheet -->
    <link href="default/css/style.css" rel="stylesheet">    

   
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>    
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="aa-price-range">  
  <!-- Pre Loader -->
  <div id="aa-preloader-area">
    <div class="pulse"></div>
  </div>
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->

  <!-- Start menu section -->
  <section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand aa-logo-img" href="/"> <img src="default/img/logo-livinhome.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
            <li class="active"><a href="/">Beranda</a></li>
            <li><a href="javascript:void()">Pesan</a></li>
            <li><a href="javascript:void()">Pusat Bantuan</a></li>
            <li><a href="javascript:void()"><i class="fa fa-shopping-cart"></i></a></li>
            <li class="text-center" style="padding-top: 7px;"><a href="javascript:void()" class="btn btn-outline-dark">Masuk</a></li>
          </ul>                            
        </div><!--/.nav-collapse -->       
      </div>          
    </nav> 
  </section>
  <!-- End menu section -->

  <!-- Start slider  -->
  <section id="aa-slider">
    <div class="container" style="margin-top: 90px;">
        <h1>Selamat Datang</h1>
        <h1>di Livinhome</h1>
        <p style="padding-top: 20px;">Temukan sewa properti terjangkau di dekat kampus Kamu bersama Livinhome.</p> 
        <p>Pesan sekarang dan nikmati semua layanan Kami tanpa ribet.</p>
        <br>
        <div class="row">
          <div class="col-lg-5">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <svg width="14" height="14" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path  d="M27.1138 25.3428L25.2 19.6H23.1L24.2662 25.2H3.73378L4.89998 19.6H2.79998L0.884776 25.3428C0.398976 26.8044 1.25998 28 2.79998 28H25.2C26.74 28 27.601 26.8044 27.1138 25.3428ZM21 7C21 5.14348 20.2625 3.36301 18.9497 2.05025C17.637 0.737498 15.8565 0 14 0C12.1435 0 10.363 0.737498 9.05023 2.05025C7.73747 3.36301 6.99998 5.14348 6.99998 7C6.99998 13.685 14 21 14 21C14 21 21 13.685 21 7ZM10.22 7.084C10.22 6.58767 10.3178 6.0962 10.5077 5.63767C10.6977 5.17914 10.9762 4.76253 11.3272 4.41163C11.6782 4.06074 12.0949 3.78244 12.5535 3.59263C13.0121 3.40282 13.5036 3.30522 14 3.3054C15.0023 3.3054 15.9636 3.70358 16.6723 4.41233C17.3811 5.12109 17.7793 6.08237 17.7793 7.0847C17.7793 8.08703 17.3811 9.04831 16.6723 9.75707C15.9636 10.4658 15.0023 10.864 14 10.864C12.9975 10.864 12.036 10.4658 11.3271 9.75686C10.6182 9.04798 10.22 8.08652 10.22 7.084Z" fill="#C58E24" />
                    </svg>
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="Cari dengan lokasi/kampus">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <svg width="14" height="14" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8289 3.92745C14.1442 3.92591 12.4968 4.4241 11.0952 5.35899C9.69364 6.29387 8.60083 7.62346 7.95503 9.17954C7.30923 10.7356 7.13946 12.4483 7.4672 14.1009C7.79494 15.7534 8.60546 17.2717 9.79623 18.4636C10.987 19.6554 12.5045 20.4673 14.1568 20.7966C15.8091 21.1258 17.5219 20.9576 19.0786 20.3132C20.6352 19.6689 21.9658 18.5773 22.902 17.1765C23.8381 15.7758 24.3378 14.1289 24.3378 12.4441C24.3276 10.1899 23.4281 8.03071 21.8348 6.43595C20.2415 4.8412 18.0832 3.93973 15.8289 3.92745ZM15.8289 2.33301C17.8287 2.33301 19.7836 2.92601 21.4464 4.03704C23.1091 5.14806 24.4051 6.7272 25.1704 8.57476C25.9357 10.4223 26.1359 12.4553 25.7458 14.4167C25.3556 16.3781 24.3926 18.1797 22.9786 19.5938C21.5645 21.0078 19.7629 21.9708 17.8015 22.3609C15.8402 22.7511 13.8072 22.5509 11.9596 21.7856C10.112 21.0203 8.53289 19.7243 7.42187 18.0616C6.31084 16.3988 5.71784 14.4439 5.71784 12.4441C5.71784 9.76249 6.78311 7.19069 8.67931 5.29448C10.5755 3.39828 13.1473 2.33301 15.8289 2.33301Z" fill="#C58E24"/>
                        <path d="M1.30786 25.8922L7.04009 20.1211L8.14453 21.2178L2.41231 26.9889C2.3403 27.0614 2.25471 27.119 2.16043 27.1585C2.06615 27.1979 1.96503 27.2184 1.86284 27.2187C1.76064 27.2191 1.65937 27.1993 1.56482 27.1606C1.47026 27.1218 1.38427 27.0648 1.31175 26.9928C1.23923 26.9208 1.18161 26.8352 1.14217 26.7409C1.10272 26.6466 1.08224 26.5455 1.08187 26.4433C1.08151 26.3411 1.10128 26.2398 1.14006 26.1453C1.17883 26.0507 1.23586 25.9647 1.30786 25.8922Z" fill="#C58E24"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  <!-- End slider  -->

  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <div class="card">
                <div class="card-body text-center">
                  <img src="default/img/ic-properti.png">
                  <p class="count">100+</p>
                  <small>Properti</small>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3">
              <div class="card">
                <div class="card-body text-center">
                  <img src="default/img/ic-transaksi.png">
                  <p class="count">100+</p>
                  <small>Transaksi</small>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3">
              <div class="card">
                <div class="card-body text-center">
                  <img src="default/img/ic-partner.png">
                  <p class="count">50+</p>
                  <small>Partner</small>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3">
              <div class="card">
                <div class="card-body text-center">
                  <img src="default/img/ic-promo.png">
                  <p class="count">20+</p>
                  <small>Promo</small>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-5">
          <img src="default/img/foto-rumah.png" class="service-img" alt="">
        </div>
      </div>
    </div>
  </section>

  <section id="livemate">
    <div class="container">
      <div class="card">
        <div class="row">
          <div class="col-lg-9 col-md-9">
            <div class="card-body text-center">
              <h3 class="card-title">Temukan Teman Satu Kontrakan yang Tepat dengan Livin<span>mates</span>!</h3>
              <p class="text-left">Livinmates membantu Anda menemukan teman sekontrakan yang sesuai dengan minat dan gaya hidup Anda.</p>
              <a href="javascript:void()" class="btn btn-dark btn-livemate">Daftar Livinmates</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 text-right livemate-img">
            <img src="default/img/livemate-img.png" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="findout">
    <div class="container">
      <div class="findout-properti">
        <div class="aa-title">
          <h3>Apa yang kamu cari?</h3>      
        </div>
        <div class="findout-properties-content">
          <div class="row">

            <div class="col-md-4">
              <article class="findout-properties-item">
                <div class="findout-properties-item-content" style="background-image: url(default/img/ic-kontrakan.png); background-repeat: no-repeat; background-position: center; background-size: cover;">
                  <div class="findout-properties-about text-center">
                    <h3><b>Rumah Kontrakan</b></h3>
                    <p>Livinhome adalah pilihan cerdas bagi mahasiswa yang mencari rumah kontrakan terjangkau tanpa mengorbankan kualitas. Cari kontrakan Anda sekarang!</p>                      
                  </div>
                </div>
                <a href="javascript:void(0)" class="findout-tag for-rent">
                  Telusuri
                </a>
              </article>
            </div>

            <div class="col-md-4">
              <article class="findout-properties-item">
                <div class="findout-properties-item-content" style="background-image: url(default/img/ic-kost.png); background-repeat: no-repeat; background-position: center; background-size: cover;">
                  <div class="findout-properties-about text-center">
                    <h3><b>Kamar Kost</b></h3>
                    <p>Temukan kamar kost impian Anda dengan harga yang sesuai di Livinhome. Kami menyediakan lokasi yang ideal untuk kehidupan kuliah Anda.</p>                      
                  </div>
                </div>
                <a href="javascript:void(0)" class="findout-tag for-rent">
                  Telusuri
                </a>
              </article>
            </div>

            <div class="col-md-4">
              <article class="findout-properties-item">
                <div class="findout-properties-item-content" style="background-image: url(default/img/ic-apartement.png); background-repeat: no-repeat; background-position: center; background-size: cover;">
                  <div class="findout-properties-about text-center">
                    <h3><b>Appartment</b></h3>
                    <p>Menemukan tempat tinggal yang nyaman adalah langkah pertama menuju sukses akademis. Ayo telusuri Apartemen yang sesuai dengan keinginanmu di Livinhome!</p>                      
                  </div>
                </div>
                <a href="javascript:void(0)" class="findout-tag for-rent">
                  Telusuri
                </a>
              </article>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  
  <footer id="aa-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="aa-footer-area">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-left">
               <p>Designed by <a rel="nofollow" href="javascrip:void(0)">unvalid.name</a></p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-middle">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="aa-footer-right">
                <a href="#">Home</a>
                <a href="#">Support</a>
                <a href="#">License</a>
                <a href="#">FAQ</a>
                <a href="#">Privacy & Term</a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
  
  <!-- jQuery library -->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <script src="default/js/jquery.min.js"></script>   
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="default/js/bootstrap.js"></script>   
  <!-- slick slider -->
  <script type="text/javascript" src="default/js/slick.js"></script>
  <!-- Price picker slider -->
  <script type="text/javascript" src="default/js/nouislider.js"></script>
   <!-- mixit slider -->
  <script type="text/javascript" src="default/js/jquery.mixitup.js"></script>
  <!-- Add fancyBox -->        
  <script type="text/javascript" src="default/js/jquery.fancybox.pack.js"></script>
  <!-- Custom js -->
  <script src="default/js/custom.js"></script> 

  </body>
</html>