<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/images/favicon.png">
    <title><%= pageTitle %></title>
    
    <!-- page css -->
    <link href="/admin/css/pages/login-register-lock.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/admin/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-default card-no-border">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Livin Home</p>
        </div>
    </div>
    
    <section id="wrapper">
        <div class="login-register" style="background-image:url(/admin/images/background/login-register.jpg);">
            <div class="login-box card" style="background-color: transparent">
                <div class="card-body-login">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <form class="form-horizontal" id="loginform" action="">
                                <div class="d-flex align-self-center mb-5">
                                    <img src="/admin/images/logo-login.png" height="35px" width="35px">
                                    <h3 class="mb-auto mt-auto m-l-10">LIVIN<text style="color: #C58E24">HOME</text></h3>
                                </div>
                                <h4 class="card-title">Support Ticket List</h4>
                                <h6 class="card-subtitle">List of ticket opend by customers</h6>
                                <div class="form-group m-t-40">
                                    <div class="col-xs-12">
                                        <input class="form-control" type="text" required="" placeholder="Username"> </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input class="form-control" type="password" required="" placeholder="Password"> </div>
                                </div>
                                <div class="form-group text-center mb-3">
                                    <div class="col-xs-12">
                                        <button class="btn btn-block btn-lg btn-dark btn-rounded" type="submit">Masuk</button>
                                    </div>
                                </div>
                                <div class="form-group text-center mb-0">
                                    <a href="javascript:void(0)" id="to-recover" class="text-muted">Lupa kata sandi?</a>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-7 col-md-7 text-center">
                            <img src="/admin/images/icon/login-symbol.png" class="mb-4" height="345px" width="345px">
                            <h5 class="mb-auto mt-auto m-l-10" style="color: #C58E24; font-weight: normal"><b>Study, Sleep, Repeat: Rent Your Student Home Sweet Home!</b></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/admin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/admin/vendor/popper/popper.min.js"></script>
    <script src="/admin/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--Custom JavaScript -->
    <script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
    </script>
    
</body>

</html>