  <%- contentFor('body') %>
  
  <section id="livinmate">
    <div class="decoration">
        <img src="default/img/livinmate-decoration.png">
    </div>
    <div class="container">
        <div class="breadcumb">
            
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <h2 class="text-left">Livin<span style="color: #C58E24;">mates</span></h2>
                <p class="text-left">
                    Livinmates merupakan fitur bagi penyewa untuk mewadahi dalam menemukan partner sewa rumah yang sesuai dengan kriteria diri serta memiliki jiwa responsibilitas yang baik tanpa adanya catatan kriminal yang mampu untuk memberikan pengaruh buruk dalam satu rumah.
                </p>
                
                <div class="regis">
                    <a href="javascript:void()" class="btn btn-dark btn-outline-white">Daftar Sekarang</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <a href="javascript:void()" class="btn btn-dark btn-regis-livinmate">Syarat & Ketentuan Livinmates</a>
    </div>
  </section>
  