        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> 
                            <a class="waves-effect d-flex align-self-center waves-dark" href="/admin/dashboard" aria-expanded="false">
                                <svg width="22" height="22" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.41 11.09L16 8.5M7 12.5C7 11.1739 7.52678 9.90215 8.46447 8.96447C9.40215 8.02678 10.6739 7.5 12 7.5M3 12.5C3 13.6819 3.23279 14.8522 3.68508 15.9442C4.13738 17.0361 4.80031 18.0282 5.63604 18.864C6.47177 19.6997 7.46392 20.3626 8.55585 20.8149C9.64778 21.2672 10.8181 21.5 12 21.5C13.1819 21.5 14.3522 21.2672 15.4442 20.8149C16.5361 20.3626 17.5282 19.6997 18.364 18.864C19.1997 18.0282 19.8626 17.0361 20.3149 15.9442C20.7672 14.8522 21 13.6819 21 12.5C21 11.3181 20.7672 10.1478 20.3149 9.05585C19.8626 7.96392 19.1997 6.97177 18.364 6.13604C17.5282 5.30031 16.5361 4.63738 15.4442 4.18508C14.3522 3.73279 13.1819 3.5 12 3.5C10.8181 3.5 9.64778 3.73279 8.55585 4.18508C7.46392 4.63738 6.47177 5.30031 5.63604 6.13604C4.80031 6.97177 4.13738 7.96392 3.68508 9.05585C3.23279 10.1478 3 11.3181 3 12.5ZM11 12.5C11 12.7652 11.1054 13.0196 11.2929 13.2071C11.4804 13.3946 11.7348 13.5 12 13.5C12.2652 13.5 12.5196 13.3946 12.7071 13.2071C12.8946 13.0196 13 12.7652 13 12.5C13 12.2348 12.8946 11.9804 12.7071 11.7929C12.5196 11.6054 12.2652 11.5 12 11.5C11.7348 11.5 11.4804 11.6054 11.2929 11.7929C11.1054 11.9804 11 12.2348 11 12.5Z"/>
                                </svg>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li> 
                            <a class="has-arrow waves-effect d-flex align-self-center waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <svg width="22" height="22" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.5 8.5V6.5C4.5 5.96957 4.71071 5.46086 5.08579 5.08579C5.46086 4.71071 5.96957 4.5 6.5 4.5H8.5M4.5 16.5V18.5C4.5 19.0304 4.71071 19.5391 5.08579 19.9142C5.46086 20.2893 5.96957 20.5 6.5 20.5H8.5M16.5 4.5H18.5C19.0304 4.5 19.5391 4.71071 19.9142 5.08579C20.2893 5.46086 20.5 5.96957 20.5 6.5V8.5M16.5 20.5H18.5C19.0304 20.5 19.5391 20.2893 19.9142 19.9142C20.2893 19.5391 20.5 19.0304 20.5 18.5V16.5M8.5 16.5C8.5 15.9696 8.71071 15.4609 9.08579 15.0858C9.46086 14.7107 9.96957 14.5 10.5 14.5H14.5C15.0304 14.5 15.5391 14.7107 15.9142 15.0858C16.2893 15.4609 16.5 15.9696 16.5 16.5M10.5 9.5C10.5 10.0304 10.7107 10.5391 11.0858 10.9142C11.4609 11.2893 11.9696 11.5 12.5 11.5C13.0304 11.5 13.5391 11.2893 13.9142 10.9142C14.2893 10.5391 14.5 10.0304 14.5 9.5C14.5 8.96957 14.2893 8.46086 13.9142 8.08579C13.5391 7.71071 13.0304 7.5 12.5 7.5C11.9696 7.5 11.4609 7.71071 11.0858 8.08579C10.7107 8.46086 10.5 8.96957 10.5 9.5Z"/>
                                </svg>
                                <span class="hide-menu">Pemilik </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/admin/pemilik/kontrakan">Kontrakan</a></li>
                                <li><a href="/admin/pemilik/kost">Kost</a></li>
                                <li><a href="/admin/pemilik/apartemen">Apartemen</a></li>
                            </ul>
                        </li>
                        <li> 
                            <a class="has-arrow waves-effect d-flex align-self-center waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <svg width="22" height="22" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.5 21.5V19.5C3.5 18.4391 3.92143 17.4217 4.67157 16.6716C5.42172 15.9214 6.43913 15.5 7.5 15.5H11.5C12.5609 15.5 13.5783 15.9214 14.3284 16.6716C15.0786 17.4217 15.5 18.4391 15.5 19.5V21.5M16.5 3.62988C17.3604 3.85018 18.123 4.35058 18.6676 5.05219C19.2122 5.7538 19.5078 6.61671 19.5078 7.50488C19.5078 8.39305 19.2122 9.25596 18.6676 9.95757C18.123 10.6592 17.3604 11.1596 16.5 11.3799M21.5 21.5004V19.5004C21.4949 18.6175 21.1979 17.7612 20.6553 17.0648C20.1126 16.3684 19.3548 15.8711 18.5 15.6504M5.5 7.5C5.5 8.56087 5.92143 9.57828 6.67157 10.3284C7.42172 11.0786 8.43913 11.5 9.5 11.5C10.5609 11.5 11.5783 11.0786 12.3284 10.3284C13.0786 9.57828 13.5 8.56087 13.5 7.5C13.5 6.43913 13.0786 5.42172 12.3284 4.67157C11.5783 3.92143 10.5609 3.5 9.5 3.5C8.43913 3.5 7.42172 3.92143 6.67157 4.67157C5.92143 5.42172 5.5 6.43913 5.5 7.5Z"/>
                                </svg>
                                <span class="hide-menu">Penyewa </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/admin/penyewa/kontrakan">Kontrakan</a></li>
                                <li><a href="/admin/penyewa/kost">Kost</a></li>
                                <li><a href="/admin/penyewa/apartemen">Apartemen</a></li>
                            </ul>
                        </li>
                        <li> 
                            <a class="waves-effect d-flex align-self-center waves-dark" href="/admin/pesanan" aria-expanded="false">
                                <svg width="22" height="22" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 12.5C3 14.8869 3.94821 17.1761 5.63604 18.864C7.32387 20.5518 9.61305 21.5 12 21.5C14.3869 21.5 16.6761 20.5518 18.364 18.864C20.0518 17.1761 21 14.8869 21 12.5C21 10.1131 20.0518 7.82387 18.364 6.13604C16.6761 4.44821 14.3869 3.5 12 3.5M17 12.5C17 11.5111 16.7068 10.5444 16.1574 9.72215C15.6079 8.89991 14.8271 8.25904 13.9134 7.8806C12.9998 7.50217 11.9945 7.40315 11.0246 7.59608C10.0546 7.789 9.16373 8.26521 8.46447 8.96447C7.76521 9.66373 7.289 10.5546 7.09608 11.5246C6.90315 12.4945 7.00217 13.4998 7.3806 14.4134C7.75904 15.3271 8.39991 16.1079 9.22215 16.6574C10.0444 17.2068 11.0111 17.5 12 17.5" />
                                </svg>
                                <span class="hide-menu">List Pesanan </span>
                            </a>
                        </li>
                        <li> 
                            <a class="waves-effect d-flex align-self-center waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <svg width="22" height="22" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 21.5H21M3 7.5V8.5C3 9.29565 3.31607 10.0587 3.87868 10.6213C4.44129 11.1839 5.20435 11.5 6 11.5C6.79565 11.5 7.55871 11.1839 8.12132 10.6213C8.68393 10.0587 9 9.29565 9 8.5M3 7.5H21M3 7.5L5 3.5H19L21 7.5M9 8.5V7.5M9 8.5C9 9.29565 9.31607 10.0587 9.87868 10.6213C10.4413 11.1839 11.2044 11.5 12 11.5C12.7956 11.5 13.5587 11.1839 14.1213 10.6213C14.6839 10.0587 15 9.29565 15 8.5M15 8.5V7.5M15 8.5C15 9.29565 15.3161 10.0587 15.8787 10.6213C16.4413 11.1839 17.2044 11.5 18 11.5C18.7956 11.5 19.5587 11.1839 20.1213 10.6213C20.6839 10.0587 21 9.29565 21 8.5V7.5M5 21.4996V11.3496M19 21.4996V11.3496M9 21.5V17.5C9 16.9696 9.21071 16.4609 9.58579 16.0858C9.96086 15.7107 10.4696 15.5 11 15.5H13C13.5304 15.5 14.0391 15.7107 14.4142 16.0858C14.7893 16.4609 15 16.9696 15 17.5V21.5" />
                                </svg>
                                <span class="hide-menu">Layanan </span>
                            </a>
                        </li>
                        <li> 
                            <a class="waves-effect d-flex align-self-center waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <svg width="22" height="22" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14 8.5V6.5C14 5.96957 13.7893 5.46086 13.4142 5.08579C13.0391 4.71071 12.5304 4.5 12 4.5H5C4.46957 4.5 3.96086 4.71071 3.58579 5.08579C3.21071 5.46086 3 5.96957 3 6.5V18.5C3 19.0304 3.21071 19.5391 3.58579 19.9142C3.96086 20.2893 4.46957 20.5 5 20.5H12C12.5304 20.5 13.0391 20.2893 13.4142 19.9142C13.7893 19.5391 14 19.0304 14 18.5V16.5M9 12.5H21M21 12.5L18 9.5M21 12.5L18 15.5" />
                                </svg>
                                <span class="hide-menu">Keluar </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>